POSTGRES_DB=admin
POSTGRES_USER=admin
POSTGRES_PASSWORD=replace-with-a-unique-password
PGADMIN_DEFAULT_EMAIL=admin@domain-name.com
PGADMIN_DEFAULT_PASSWORD=replace-with-a-unique-password
SENSOR_VALUES_URL=http://192.168.0.64/sensorvalues
